<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>i18n Manager</title>

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//icongr.am">

    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Ubuntu:400,500&amp;subset=greek" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/mdc.fab.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
<h1 class="title">i18n Manager</h1>

<div id="app">
    <div v-if="language && language.index && language.index.content">
        <div class="content-row" v-for="(value, key) in language.index.content">
            <div class="header-row">
                <strong class="key">{{ key }}</strong>

                <span class="actions" v-if="hasChanged(key)">
            <img class="icon" src="https://icongr.am/fontawesome/check.svg?size=20&color=00ff00" alt="Done" v-on:click="update(key)">
            <img class="icon" src="https://icongr.am/fontawesome/times.svg?size=20&color=ff0000" alt="Clear" v-on:click="clear(key)">
          </span>
            </div>

            <div class="input-row" v-for="(tValue, tKey) in value.translations">
                <strong class="lan">{{ tKey }}</strong> <input class="input" type="text" v-model="tValue.content">
            </div>
        </div>
    </div>

    <button class="mdc-fab mdc-fab--extended" v-on:click="exportPDF()">
        <span class="material-icons mdc-fab__icon">picture_as_pdf</span>
        <span class="mdc-fab__label">Export</span>
    </button>

    <button class="mdc-fab mdc-fab--extended" v-on:click="saveFile()" v-if="dirty">
        <span class="material-icons mdc-fab__icon">save</span>
        <span class="mdc-fab__label">Save File</span>
    </button>
</div>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.39/pdfmake.min.js" integrity="sha256-QODwBEsM0+r31YdQOjLDaRwGxr3KF7ltjJ0N4K+LayQ=" crossorigin="anonymous"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.39/vfs_fonts.js" integrity="sha256-XLgfpwdUBwR1k46YWTWaJoEiybYsrBVOu44SDoEmYsw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
<script>window.I18N_ID='<%- id %>'</script>
<script src="../public/javascripts/main.js"></script>
</body>
</html>
