body {
  font-family: 'Ubuntu', sans-serif;
}

.title {
  margin-bottom: 4rem;

  text-align: center;
  text-decoration: underline;
}

#app {
  .content-row {
    padding: 10px;

    &:nth-child(even) {
      background-color: rgba(#018786, .1);
    }

    .header-row {
      display: flex;
      align-items: center;

      .key {
        margin-right: 15px;
      }

      .icon {
        width: 20px;

        vertical-align: middle;

        cursor: pointer;
      }
    }

    .input-row {
      display: flex;
      align-items: center;

      margin-top: 15px;

      .lan {
        width: 20px;
        font-size: 12px;
      }

      .input {
        width: 100%;
      }
    }
  }

  button.mdc-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    min-width: 135px;

    &:nth-of-type(2) {
      bottom: 88px;
    }
  }
}
